.App {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: inherit;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.filters label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
